# don't ever lint node_modules
node_modules
package-lock.json
# don't lint build output
build
dist
# don't lint coverage output
coverage
# don't lint workflows etc
.github
.idea
.vscode
# unsupported file types
*.yaml
*.yml
*.md